<table class="table table-success table-striped">
  <thead>
    <tr>
      <th>Books name</th>
      <th>Author</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
        <% @book.each do |book| %>
        <tr>
        <td><%= book.name %></td>
        <td><%= book.author %></td>
        <td><%= book.language %></td>
        </tr>
        <% end %>
    </tbody>
</table>